body {
  width: 480px;
}

#A {
  height: 75px;
}

#B {
  height: 150px;
}

#C {
  height: 125px;
}

#D {
  height: 125px;
}

#E {
  height: 250px;
}

#F {
  height: 250px;
}

#G {
  height: 250px;
}

#G {
  height: 250px;
}

footer {
  height: 80px;
}



